* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#group-container {
    transition: all 0.4s ease;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: space-between;
    height: 100vh;
    margin-left: 60px;
}

#group-container.scaledown {
    margin-left: 300px;
}

.group-form {
    width: 100% !important;
    /* height: 50%; */
    flex: 1;
    overflow-y: auto;
}

.input-form {
    display: flex;
    height: 55px;
    margin-bottom: 8px;
    outline: none;
    gap: 15px;
}

.input-form:focus {
    outline: none;
}

.input-box {
    width: 96%;
    border-radius: 5px 0 0 5px !important;
}

.input-box:focus {
    outline: none;
}

.input-btn {
    width: 5%;
    font-size: 17px;
}

.input-btn:focus {
    outline: none;
}

#groupName {
    outline: none;
}

tr {
    font-size: 17px;
    text-align: center;
}

.divider {
    width: 100%;
    border-top: 2px solid grey;
    /* height: 1px; */
    /* background-color: black; */
}

.btn-container {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

.group-input {
    width: 35%;
    height: 100%;
    border: none;
    border-radius: 15px;
    padding-left: 15px;
    box-shadow: rgba(99, 99, 99, 0.4) 0px 2px 8px 0px;
    outline: none;
}

.group-btn {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    border: none;
    font-size: 20px;
    color: white;
    background-color: #5759e8;
}

.group-btn:hover {
    opacity: 0.8;
}

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    display: none;
}

.popup {
    margin: 70px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 30%;
    position: relative;
    transition: all 5s ease-in-out;
}

.popup h2 {
    margin-top: 0;
    margin-bottom: 10px;
    color: #333;
    font-family: Tahoma, Arial, sans-serif;
}

.popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
}

.popup .close:hover {
    color: black;
}

.popup .content {
    max-height: 30%;
    overflow: auto;
}