<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@600;200&display=swap" rel="stylesheet"> -->
  <link rel="stylesheet" href="./fontawesome-free-6.1.1-web/css/all.min.css">
  <link rel="stylesheet" href="./css/privateKey.css">
  <link rel="stylesheet" href="./css/call.css">
  <link rel="stylesheet" href="./header.css">
  <!-- ### here -->
  <link rel="stylesheet" href="./bootstrap-5.1.3-dist/css/bootstrap.min.css">
  <script src="./bootstrap-5.1.3-dist/js/bootstrap.bundle.min.js"></script>
  <!-- ### end here -->
</head>

<body>
  <div class="toast-container">
    <div class="toast" role="alert" aria-live="assertive" aria-atomic="true">
      <div class="toast-header">
        <strong class="me-auto">Thông báo</strong>
      </div>
      <div class="toast-body" id="toast-message">
      </div>
    </div>
  </div>
  <div class="sidebar">
    <div class="logo-content">
      <span>Fabric</span>
      <i class="fa-solid fa-bars" id="menu-btn"></i>
    </div>
    <ul>
      <li id="search-bar">
        <div class="a">
          <i class="fa-solid fa-magnifying-glass bx-search-alt-2"></i>
          <input type="text" id="input_ID" placeholder="Search...">
          <span id="exist"></span>
        </div>
        <span class="tooltip">Search</span>

        <!-- <a href="/home">
        <i class='bx bx-search-alt-2'></i>
        <span class="link-items">Search</span>
      </a> -->
      </li>
      <li>
        <a href="/chat">
          <i class="fa-solid fa-message"></i>
          <span class="link-items">Messages</span>
        </a>
        <span class="tooltip">Messages</span>

      </li>
      <li>
        <a href="/newGroup">
          <i class="fa-solid fa-user-group"></i>
          <span class="link-items">Group</span>
        </a>
        <span class="tooltip">Group</span>

      </li>
      <li>
        <a onclick="openSecure()" class="enrypt-opt">
          <i class="fa-solid fa-unlock-keyhole"></i>
          <span class="link-items">Encrypted</span>
        </a>
        <span class="tooltip">Encrypted</span>

      </li>
    </ul>
    <div class="logout-form">
      <a onclick="logout()" href="./">
        <i class="fa-solid fa-arrow-right-from-bracket"></i>
        <span class="logout-text">Logout</span>
      </a>
    </div>
  </div>
  </div>

  <div class="modal fade" id="exampleModalScrollable" tabindex="-1" role="dialog"
    aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalScrollableTitle">Modal title</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </button>
        </div>
        <div class="modal-body">
          ...
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Lưu thay đổi</button>
        </div>
      </div>
    </div>
  </div>

  <div id="privKeyModal" class="privKey-modal">

    <!-- Modal content -->
    <div class="privKey-modal-content">
      <div class="privKey-modal-header">
        <span class="closeprivKeyModal" id="closeprivKeyModal">&times;</span>
        <h2>Nhập khóa bí mật</h2>
      </div>
      <div class="privKey-modal-body" id="privKey-body">
        <div class="priv-key__input">
          <textarea id="PrivKeycontent" name="content" placeholder="Nhập khóa bí mật"></textarea>
        </div>
        <div class="encrypt-actions">
          <button onclick="checkAndSaveKey()" id="button_send_privKey_header">Gửi khóa</button>
          <button onclick="window.open('/registerE2EService')" id="button_regAgain_privKey_header">Đăng ký lại</button>
        </div>
      </div>

    </div>

  </div>

  <!-- to show incommming call and accept -->
  <!-- <div id="answer" class="modal_incoming_call"  >
                <div class="incomingWrapper">
                    <div class="itemWrapper">
                        <h2>Incomming Call</h2>
                    </div>
                    <div class="itemWrapper">
                        <img id="profileImageA" style="padding: 30px; width: 140px; height: 140px;"
                            src="./img/profile.png" alt="">
                    </div>
                    <div class="itemWrapper">
                        <h2 style="line-height: 0px;"><span id="callerName"></span></h2>
                    </div>
                    <div class="itemWrapper" style="display: flex; flex-direction: row; margin-bottom: 20px; margin-top: 50px;">
                        <button class="actionButton" onclick="answer()">Answer</button>
                    </div>
                </div>
            </div> -->
  <!-- ### here: modal hien thi thong bao co cuoc goi -->
  <div class="modal fade" id="answerModal" tabindex="-1" aria-labelledby="answerModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title d-flex justify-content-center" id="answerModalLabel"></h5>
          <button type="button" class="btn-close" aria-label="Close" onclick="closeModal('answerModal')"></button>
        </div>
        <div class="modal-body">
          <div class="">
            <div class="d-flex justify-content-center">
              <h2>Incomming Call</h2>
            </div>
            <div class="d-flex justify-content-center">
              <img id="profileImageA" style="padding: 30px; width: 140px; height: 140px;" src="./img/profile.png"
                alt="">
            </div>
            <div class="d-flex justify-content-center">
              <h2 style="line-height: 12px;"><span id="callerName"></span></h2>
            </div>
            <div class="d-flex justify-content-center p-3">
              <button class="btn btn-success" onclick="answer()">Answer</button>
              <!-- <button class="btn btn-danger" onclick="stop()">Decline</button> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- ### end here -->
</body>

</html>
<script type="text/javascript" src="./js/cryptico.js"></script>
<script type="text/javascript" src="./js/helper.js"></script>
<script type="text/javascript" src="./jquery-3.6.0.js"></script>
<script type="text/javascript" src="./socket.io.min.js"></script>
<script>
  var popup = document.getElementById('popup1');
  var messagePopup = "";
  var myID_json = sessionStorage.getItem('login_data');
  var myID = parseInt(JSON.parse(myID_json)['id']);
  var my_name = JSON.parse(myID_json)['my_username'];
  var accessToken = JSON.parse(myID_json).accessToken;
  var refreshToken = JSON.parse(myID_json).refreshToken;
  var privKeyModal = document.getElementById("privKeyModal");
  var toastMessage = document.getElementById('toast-message');

  // When the user clicks anywhere outside of the modal, close it

  document.getElementById('closeprivKeyModal').addEventListener('click', function (e) {
    privKeyModal.style.display = "none";
  })
  var socket = io({ auth: { 'token': accessToken } });
  socket.emit('connected', { 'userID': myID });
  var incom_call_data;
  socket.on('newCall', data => {
    //when other called you
    console.log(data);
    //show answer button
    incom_call_data = data;
    var otherUser = data.caller;
    var remoteRTCMessage = data.rtcMessage;
    sessionStorage.setItem('callerID', data.callerID);
    document.getElementById("callerName").innerHTML = otherUser;
    //document.getElementById("call").style.display = "none";
    // document.getElementById("answer").style.display = "block";
    // ### here: hien thi modal thong bao khi co cuoc goi         
    document.getElementById("answerModal").style.display = "block";
    document.getElementById("answerModal").setAttribute("role", "dialog");
    document.getElementById("answerModal").setAttribute("aria-modal", "true");
    document.getElementById("answerModal").removeAttribute("aria-hidden");
    document.getElementById("answerModal").classList.add("show");
    // ### end here 
  })
  // ### here: dong Modal khi nghe dien
  function closeModal(modalId) {
    document.getElementById(modalId).style.display = "none";
    document.getElementById(modalId).removeAttribute("role");
    document.getElementById(modalId).setAttribute("aria-hidden", "true");
    document.getElementById(modalId).removeAttribute("aria-modal");
    document.getElementById(modalId).classList.remove("show");
    var temp = document.getElementsByClassName("modal-backdrop")[0];
    if (temp == undefined) return;
    temp.parentNode.removeChild(temp);
  }
  // ### end here
  function answer() {
    closeModal("answerModal"); // ### here
    // document.getElementById("answer").style.display = "none";
    var callerID = sessionStorage.getItem('callerID');
    console.log(incom_call_data);
    var answerWindow = window.open('/call?partnerID=' + callerID + '&docType=private_message&call=callee');
    answerWindow.incom_call_data = incom_call_data;
  }

  async function openSecure() {
    var myID_json = sessionStorage.getItem('login_data');
    var myID = parseInt(JSON.parse(myID_json)['id']);
    var accessToken = JSON.parse(myID_json).accessToken;
    var refreshToken = JSON.parse(myID_json).refreshToken;
    if (sessionStorage.getItem('privKeyRSA')) {
      var privKey = sessionStorage.getItem('privKeyRSA'); console.log(privKey);
      let privKeyRSA = deserializeRSAKey(privKey);

      window.location.href = '/secureChat';
    }
    else if (!sessionStorage.getItem('privKeyRSA')) {
      const options = {
        method: 'GET',
        headers: {
          'authorization': 'token ' + accessToken,
        }
      }
      var res = await fetch('/checkE2ERegisterAPI?senderID=' + myID + '&receiverID=' + 000, options);
      var json_res = await res.json(); console.log(json_res)
      if (json_res.data == 'ng') {
        window.location.href = '/registerE2EService';
      }
      else if (json_res.data == 'ok') {
        //var privKeyModal = document.getElementById("privKeyModal");
        console.log(privKeyModal);
        privKeyModal.style.display = "block";
      }
    }
  }


  async function checkAndSaveKey() {
    var privKeyString = document.getElementById('PrivKeycontent').value; console.log(privKeyString);
    var Bits = 1024;

    var MessRSAkey = cryptico.generateRSAKey(privKeyString, Bits); console.log(MessRSAkey);

    var MessRSAkeyPublic = cryptico.publicKeyString(MessRSAkey); console.log(MessRSAkeyPublic)

    let serialKey = serializeRSAKey(MessRSAkey);

    const options = {
      method: 'POST',
      body: JSON.stringify({ 'publicKeyRSA': MessRSAkeyPublic }),
      headers: {
        'Content-Type': 'application/json',
        'authorization': 'token ' + accessToken,
      }
    }
    var res = await fetch('/verifyPrivKeyRSA', options);
    var json_res = await res.json();
    if (json_res.data == 'ok') {
      console.log('ok');
      sessionStorage.setItem('privKeyRSA', serialKey);
      privKeyModal.style.display = "none";
      window.location.href = '/secureChat';
    }
    else if (json_res.data == 'ng') {
      toastMessage.innerHTML = "Khoá bí mật sai. Yêu cầu nhập lại khóa bí mật!";
      $(document).ready(function () {
        $('.toast').toast('hide');
        $('.toast').toast('show');
      });
    };
  }

  function logout() {
    sessionStorage.clear();
  }

  $(document).on('click', 'a.close', function () {
    $(".overlay").html("");
    $(".overlay").css("display", "none");
  })

</script>