<link rel="stylesheet" href="./index.css">

<body onload="init()">
  <div class="container-login">
    <div class="wrap-login">
      <form class="form-login" action="action_page.php" method="post">
        <span class="login-form-tittle">Welcome</span>
        <div class="wrap-input">
          <input id="id_user" type="text" class="form-input" name="uname" required>
          <span class="focus-input" data-placeholder="Tên tài khoản"></span>
        </div>
        <div class="wrap-input">
          <input id="pw_user" type="password" class="form-input" name="Mật khẩu" required>
          <span class="focus-input" data-placeholder="Mật khẩu"></span>
        </div>
        <button class="btn" id="btnLogin" type="button" onclick="login()">Đăng nhập</button>
        <label>
          <input class="" type="checkbox" checked="checked" name="remember"> Remember me
        </label>
        <span class="psw">Forgot <a href="#">password?</a></span>
      </form>
    </div>
  </div>
  <iframe style="display:none;" src="https://127.0.0.1:8082/medium" id="medium"></iframe>
  <div id="popup1" class="overlay"></div>
</body>
<script type="text/javascript" src="./socket.io.min.js"></script>
<script type="text/javascript" src="./jquery-3.6.0.js"></script>
<!--script src="/socket.io/socket.io.js"></script-->
<script type="text/javascript">

  var id = document.getElementById('id_user');
  var password = document.getElementById('pw_user');
  var key_access = '';

  const END_POINT = 'https://127.0.0.1:8082';
  var socket = io();
  socket.on('getId', (data) => {
    console.log(data);
  })

  function init() {

    // var check = sessionStorage.getItem('login_data');
    // sessionStorage.removeItem('current_partner_id');

    // var check_json = JSON.parse(check);
    // if (check_json == null || check_json.isLogin != true) {
    //   window.location.href = '/';
    // }
    // else {
    //   //sessionStorage.setItem('login_data', check);
    //   //localStorage.clear();
    //   window.location.href = '/chat';
    //   fetchData();
    // }
    var check = sessionStorage.getItem('login_data');
    var check_json = JSON.parse(check);
    if (check_json != null || check_json.isLogin == true) {
      window.location.replace(END_POINT + '/chat');
    } else {
      var log_init = '<%-data%>';
      console.log(log_init + ' initial');
      localStorage.clear();
      $('.form-input').each(function () {
        if ($(this).val() !== '') {
          $(this).val('');
        }
      });
    }
  }
  password.addEventListener('keyup', function (event) {
    if (event.keyCode === 13) {
      document.getElementById('btnLogin').click();
    }
  })

  async function login() {

    console.log(id.value + ' ' + password.value);
    //socket.emit("sendMess", {'sender': 'sender', 'receiver': 'receiver', 'message': 'message'});

    var data_post = {
      'id': id.value,
      'pw': password.value
    }
    //const xhttp = new XMLHttpRequest();
    const options = {
      method: 'POST',
      body: JSON.stringify(data_post),
      headers: {
        'Content-Type': 'application/json'
      }
    }
    var res = await fetch("/login", options);
    var json_res = await res.json();
    console.log(json_res);
    if (json_res.result == 'OK') {
      var wallet_data = JSON.stringify({
        'id': json_res.myID, 'isLogin': true,
        'my_username': json_res.username, 'accessToken': json_res.accessToken, 'refreshToken': json_res.refreshToken
      })
      //sessionStorage.setItem('login_data', wallet_data);
      //localStorage.setItem('login_data', wallet_data);
      //window.location.href='/chat?userID='+id.value;

      var newDomainUrl = 'https://127.0.0.1:8082/medium';
      //var newSite = window.open(newDomainUrl);
      console.log('wallet: ', wallet_data)
      var medium = document.getElementById('medium');
      //window.open(newDomainUrl)
      medium.contentWindow.postMessage(wallet_data, newDomainUrl);

      window.location.href = newDomainUrl;

      //window.postMessage(wallet_data, newDomainUrl);
    }
    else if (json_res.result == 'NG') {
      alert('login failed');
    }
  }
  $('.form-input').each(function () {
    $(this).on('blur input', function () {
      if ($(this).val().trim() != '') {
        $(this).addClass('has-val');
      } else {
        $(this).removeClass('has-val');
      }
    })
  })
</script>